@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

body {
    background-color: #1e857e;
    margin: 0;
    font-family: 'Gloria Hallelujah', cursive;
    text-shadow: 3px 3px #ddd249;
    font-size: 25px;

}

h1 {
    text-align: center;
    margin: 20px;
}

img {
    width: 100%;
}

.container {
    z-index: 0;
    width: 60%;
    margin: auto;
    text-align: center;
    align-items: center;
}

.dice {
    text-align: center;
    display: inline-block;
    margin: 20px;
}

.img1:hover {
    padding: 20px, 25px, 20px, 25px;
}

.bottom {
    display: flex;
    justify-content: center;
}


.button {
    z-index: 0;
    background: #644828;
    font-family: 'Gloria Hallelujah', cursive;
    border-radius: 10px;
    color: #ffff;
    font-size: 30px;
    padding: 20px 30px 20px 30px;
    text-decoration: none;
}

.button:hover {
    padding: 30px 40px 30px 40px;
    cursor: pointer;
}


.teeth {
    height: auto;
    width: 350px;
}